@import 'reset.scss';

// https://huemint.com/brand-intersection/#palette=1e1e1b-7ae384-64a09a-434f80
$c1: #f7f5f0;
$c2: #222;
$c3: #17508f;
$c4: #434f80;

$g1: #f79131; // Yellow
$g2: #3aa095; // Green
$g3: #0486aa; // Cerulean
$g4: #1e356a; // Blue
$g5: #3f1e7e; // Purple
$g6: #65257d; // Violet
$g7: #9a1d7a; // Magenta
$g8: #e3403e; // Orange

html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: $c2;
  background-color: $c1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
  scrollbar-color: $g3 $c1;
}

// Change the highlight color to match the theme
::selection {
  background-color: $g1;
  color: $c1;
}

// Change the scroll bars to match the theme

#frontmatter {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 0;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 0.618rem;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
  #logo {
    background-image: url(/stega.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    max-width: 400px;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 0.2em;
  }
  h1 {
    font-size: 4rem;
    background-image: linear-gradient(to right, $g7, $g5);
    background-clip: text;
    background-blend-mode: hard-light;
    -webkit-background-clip: text;
    color: transparent;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    margin-bottom: 0.1em;
  }
  h2 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.3em;
    em.invisible {
      color: transparent;
      -webkit-text-stroke: 1px transparentize($c2, 0.5);
    }
    em.underline {
      text-decoration-line: underline;
      text-decoration-style: dashed;
      text-decoration-color: #f79131;
      text-underline-offset: 0.2em;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 600px;
  >.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    border: 1px solid darken($c1, 2);
    box-shadow: 0 0 2rem 0 transparentize($c2, 0.95);
    padding: 2rem;
    flex-grow: 1;
  }
}

a {
  font-weight: bold;
  color: $c2;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #f79131;
  text-underline-offset: 0.2em;
}
a:hover {
  color: $g4;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin-bottom: 0.9em;
  color: transparentize($c2, 0.2);
}

label {
  margin-bottom: 0.4em;
  display: block;
}

hr {
  border: 1px solid transparentize($c2, 0.85);
  max-width: 90%;
  margin: 3rem auto;
}

.field {
  display: flex;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-direction: column;
  &:last-child {
    margin-bottom: 0;
  }
}

input, textarea {
  line-height: 1.15em;
  padding: 0.5em;
  color: $g3;
  opacity: 0.8;
}
textarea:focus {
  border: 2px solid $g3;
  outline: 2px solid $g3;
  opacity: 1;
}
textarea {
  min-height: 12em;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 2px dashed $g3;
  background-color: $c1;
}

p.note {
  opacity: 0.7;
  font-size: 0.8em;
  color: $c3;
}

.output {
  img {
    max-width: 100%;
  }
  textarea, textarea:focus {
    border-color: transparent;
  }
}

input[type="file"] {
  display: none;
}

button,
.button {
  display: inline-block;
  background-image: linear-gradient(to right, $g3, $g4);
  color: $c1;
  font-weight: bold;
  font-size: 1.1rem;
  border: 1px solid $g4;
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  text-align: center;
  &:hover {
    background-image: linear-gradient(to right, lighten($g3, 10), lighten($g4, 5));
    cursor: pointer;
  }
}

button.extract,
.button.extract {
  border-color: $g5;
  background-image: linear-gradient(to right, $g5, $g8);
  &:hover {
    background-image: linear-gradient(to right, lighten($g5, 5), lighten($g8, 5));
  }
}

#outputActions {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
#outputImage {
  margin-bottom: 1rem;
}
